<div class="about row">

    <div class="col-md-8 about-content">

        <h2>关于我</h2>

        <p>刘慧昊，2016年毕业于 北京理工大学，居住地北京，就职于 北京中信百信银行股份有限公司，工作方向为 Web前端 ，骑行爱好者。</p>

        <h2>联系我</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>技能关键词</h2>

        {% if site.skill_keywords %}

                {% for keyword in site.skill_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}

        {% endif %}
    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>